$primary-color: #1D223C;
$secondary-color: #FF9A00;
$show-home-image: true;
$home-image:  url('../img/web.jpg');
$secondary-image: url('../img/black-background.jpg');
$portrait: url('../img/icon1.jpg');
$background-opacity: 0.8;

@mixin easeOut {
  transition: all 0.5s ease-out;
}
@mixin background {
  @if $show-home-image {
    &#big-img {
      background-image: $home-image;
      background-attachment: fixed;
      background-size: cover;
      &:after{
        content: '';
        position: absolute;
        top:0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
    &#secondary-img {
      background-image: $secondary-image;
      background-attachment: fixed;
      background-size: cover;
      &:after {
        content: '';
        position: absolute;
        top:0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

//small
@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh;
  }

  .projects{
    grid-template-columns: 1fr;
  }
}
//mediaMd
@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    height: 50vh;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    transform: translate3d(100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    transform: translate3d(-100%, 0, 0);
    .portrait {
      background-image: url('../img/small-icon.png');
      width: 150px;
      height: 150px;
    }
  }
  .about-info{
    grid-template-areas:
            'bioimage'
            'bio';
    grid-template-columns: 1fr;
    }
  .projects{
    grid-template-columns: repeat(2,1fr);
  }
}
//mediaLg
@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects{
    grid-template-columns: repeat(3,1fr);
  }
}
//mediaXl
@media screen and (min-width: 1171px) {
  .projects{
    grid-template-columns: repeat(4,1fr);
  }
}

@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  }  @else {
    @return #fff;
  }
}

* {
  box-sizing: border-box;
}
body{
  @include background();
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana,sans-serif;
  line-height: 1.5;
}

//Headings
h1,
h2 {
  margin: 0;
  font-weight: 400;
  &.lg-heading{
    font-size:4rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
 // height: 100%;
 min-height: calc(100vh - 60px);
  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      &:hover{
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}
//Menu Button
.menu-btn {
  position: fixed;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line{
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: set-text-color($primary-color);
    @include easeOut;
  }
  &.close {
    transform: rotate(180deg);
    .btn-line {
      &:nth-child(1){
        transform: rotate(45deg) translate(5px, 5px);
      }
      &:nth-child(2){
        opacity: 0;
      }
      &:nth-child(3){
         transform: rotate(-45deg) translate(7px, -6px);
       }
    }
  }
}
//menu overlay
.menu{
  position: fixed;
  top:0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible;
  }
  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: right;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }
  &-nav {
    margin: 0;
    padding: 0;
    background: black;
    list-style: none;
    transform: translate3d(0, 100%, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0,0,0);
    }
  }
  &-branding {
    background: $primary-color;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0,0,0);
    }

    .portrait {
      width: 250px;
      height: 250px;
      background-image: $portrait;
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }
  .nav-item {
    transform: translate3d(600px, 0,0);
    @include easeOut;

    &.show {
      transform: translate3d(0,0,0);
    }
    &.current > a {
      color: $secondary-color;
    }
  }
  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding:1rem 0;

    font-weight: bold;
    color: set-text-color($primary-color);
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}

@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x *0.1s;
  }
}
//about page
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio';
  grid-template-columns: repeat(3, 1fr);
  .bio-image{
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: solid 3px $secondary-color;
  }
  .bio {
    grid-area: bio;
    font-size: 1.5rem;
    background: lighten($primary-color, 5 );
    padding: 0.5rem;
    margin: 0;
    border-bottom: $secondary-color 4px solid;
  }
}
//work page
.projects{
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
  img {
    width: 100%;
    border: 3px white solid;
    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}
.btn {
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}
.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}
.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}
//contact page
.boxes {
  overflow: hidden;
  margin-top: 0.5rem;
  div {
    font-size: 2rem;
    border: 3px white solid;
    padding: 1rem 2.5rem;
    margin-bottom: 4px;
    @include easeOut;
    &:hover {
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}
//footer
#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color,8);
  color: set-text-color($primary-color);
  height: 60px;
}

